{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "oclif",
    "plugin:@typescript-eslint/recommended",
    "oclif-typescript",
    "prettier"
  ]
}
